.card {
  /* max-width: 40% !important; */
  max-width: 300px !important;
}

.card-body,
.card-body img {
  /* padding-right: 0 !important;
  padding-left: 0 !important; */
  /* margin: 0; */
  padding-top: 0 !important;
  margin-top: 0 !important;
  /* max-width: 30%; */
}

.card-body img {
  /* width: 100%; */
  padding-left: 0 !important;
  padding-right: 0 !important;
}
